.category-text {
    font-size: 18px;
    margin-right: 8px;
}

.ratingBar {
    /* color: #1FB6FF; */
    color: red;
}

.text {
    min-width: 300px;
}

.bg-image{
    background-color: #b9e7f0;
}
.colored-reviewBox{
    background: #a6a6a6;
    border-color: #a6a6a6;
}

.colored-textbox{
    background: #b3b3b3;
    border-color: #b3b3b3;
}

.enlargen-text{
    font-size: 20px;
}

.class-description{
    background: #f7f0b7;
    border-color: black;
}

