.category-text {
    font-size: 18px;
    margin-right: 8px;
}

.ratingBar {
    /* color: #1FB6FF; */
    color: red;
}

.text {
    min-width: 300px;
}


.colored-reviewBox{
    background: #a6a6a6;
    border-color: #a6a6a6;
}

.colored-textbox{
    background: #b3b3b3;
    border-color: #b3b3b3;
}

.enlargen-text{
    font-size: 20px;
}